<div id="top-div" class="top-div">
    <ul class="top-ul-l">
        <li>
            <div class="top-content-div">
                 <a id="top-div-username">请登录!</a>
            </div>
        </li>
    </ul>
    <ul class="top-ul-r">
        <li>
            <div id="jieSuanDan" class="top-content-div" style="width: 300px">
                <a>结算单</a>
                <div id="jieSuanDanCar" class="top-content-div-car" style="display: none">
                    <div class="top-content-div-car-top-div">
                        <span><strong>最近加入的产品：</strong></span>
                        <a id="jieSuanDanClear" style="float: right">清空结算单</a>
                    </div>
                    <ul style="clear: both"></ul>
                    <div class="top-content-div-car-bottom-div"><strong>最近加入的宝贝：</strong></div>
                </div>
            </div>
        </li>
    </ul>
</div>
<script type="text/javascript">

</script>