<!DOCTYPE html>
<html>
<% include head.ejs %>
<body>
<script type="text/javascript">
</script>
<div id="shop-dialog" class="shop-dialog">
    <div class="shop-dialog-close">
        <a onclick="$('#shop-dialog').hide()">×</a>
    </div>
    <div class="shop-dialog-content">
        <span>
            添加成功
        </span>
    </div>
    <div class="shop-dialog-goPay">
        <a>去结算单结算</a>
    </div>
</div>
<div class="jieSuan-div">
    <div class="jieSuan-content-div">
        <div class="jieSuan-content-head-div">
            <div class="jieSuan-content-head-column jieSuan-content-head-goods">
                <span>商品</span>
            </div>
            <div class="jieSuan-content-head-column jieSuan-content-head-price">
                <span>价格</span>
            </div>
            <div class="jieSuan-content-head-column jieSuan-content-head-quantity">
                <span>数量</span>
            </div>
            <div class="jieSuan-content-head-column jieSuan-content-head-action">
                <span>操作</span>
            </div>
        </div>
        <div class="jieSuan-shopList-div">

        </div>
    </div>
</div>

</body>
</html>