<!DOCTYPE html>
<html>
<% include head.ejs %>
<body>
<script type="text/javascript">
    $(function(){operationInit()});
</script>
<div id="shop-dialog" class="shop-dialog">
    <div class="shop-dialog-close">
        <a onclick="$('#shop-dialog').hide()">×</a>
    </div>
    <div class="shop-dialog-content">
        <span>
            添加成功
        </span>
    </div>
    <div class="shop-dialog-goPay">
        <a>去结算单结算</a>
    </div>
</div>
<div class="jieSuan-div">
    <div class="jieSuan-top-div">
        <span class="jieSuan-span">我的结算单</span>
    </div>
    <div class="jieSuan-content-div">
        <div class="jieSuan-content-head-div">
            <div class="jieSuan-content-head-column jieSuan-content-head-goods">
                <span>商品</span>
            </div>
            <div class="jieSuan-content-head-column jieSuan-content-head-price">
                <span>价格</span>
            </div>
            <div class="jieSuan-content-head-column jieSuan-content-head-quantity">
                <span>数量</span>
            </div>
            <div class="jieSuan-content-head-column jieSuan-content-head-action">
                <span>操作</span>
            </div>
            <div class="jieSuan-content-head-column jieSuan-content-head-total">
                <span>总价</span>
            </div>
        </div>
        <div class="jieSuan-shopList-div">
            <% for(var i = 0; i < goods.length; i++) { %>
            <div class="jieSuan-goods-div">
                <div class="jieSuan-goods-column jieSuan-goods">
                    <div class="jieSuan-goods-img">
                        <a>
                            <img src="<%= goods[i].image %>">
                        </a>
                    </div>
                    <div class="jieSuan-goods-name">
                        <a>
                            <%= goods[i].name %>
                        </a>
                    </div>
                </div>
                <div class="jieSuan-goods-column jieSuan-goods-price">
                    <span><%= goods[i].price %></span>
                </div>
                <div class="jieSuan-goods-column jieSuan-goods-quantity">
                    <a class="jieSuan-operation-plus">＋</a>
                    <input class="jieSuan-goods-quantity-input" type="text" value="0">
                    <a class="jieSuan-operation-minus">－</a>
                </div>
                <div class="jieSuan-goods-column jieSuan-goods-action">
                    <a>删除</a>
                </div>
                <div class="jieSuan-goods-column jieSuan-goods-total">
                    <span>0</span>
                </div>
            </div>
            <% } %>
        </div>
        <div class="jieSuan-totla-div">

            <div class="jieSuan-dialog-goPay f_r">
                <a href="/checkout">确定＞</a>
            </div>
            <div class="jieSuan-totla-content-div f_r">
                总计：
                <span id="jieSuan-totalCounts">0</span>
            </div>
        </div>
    </div>
</div>

</body>
</html>