<head>
    <title><%= title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/shoplist.css' />
    <link rel='stylesheet' href='/stylesheets/top.css' />
    <link rel='stylesheet' href='/stylesheets/pageBar.css' />
    <link rel='stylesheet' href='/stylesheets/shop.css' />
    <link rel='stylesheet' href='/stylesheets/jieSuanDan.css' />

    <script src="/javascripts/jquery-1.9.1.js"></script>
    <script src="/javascripts/ajax_file.js"></script>
    <script src="/javascripts/topBar.js"></script>
    <script src="/javascripts/shopCar.js"></script>
    <script src="/javascripts/checkout.js"></script>
</head>