<!DOCTYPE html>
<html>
<% include head.ejs %>
<body>
<% include plugin/top-bar.ejs %>
<div id="plist" class="m plist-n7 prebuy">
    <ul class="list-h">
        <% for(var i = 0; i < goods.length; i++) { %>
        <li class="">
            <div class="lh-wrap">
                <div class="p-img">
                    <a target="_blank"
                       href="http://item.jd.com/934060.html">
                        <img width="220px" height="220px" src="<%= goods[i].image %>"/>
                    </a>
                </div>
                <div class="p-name">
                    <a target="_blank"
                       href="http://item.jd.com/934060.html">
                        <%= goods[i].name %>
                    </a>
                </div>
                <div class="p-price"><strong><%= goods[i].price %></strong></div>
            </div>
        </li>
        <% } %>
        <li index="3" sku="572758" selfservice="0" venderid="0" class="">
            <div class="lh-wrap">
                <div class="p-img"><a target="_blank" href="http://item.jd.com/572758.html"
                                      onclick="log(&quot;search&quot;,&quot;list&quot;,window.location.href,9898,5,572758,1,3,1,2,A)"><img
                                width="220" height="220" alt="Philips飞利浦 30074 酷捷LED护眼台灯银色" data-img="1"
                                class="err-product"
                                src="http://img12.360buyimg.com/n7/4889/b3542b90-ffea-4e65-af57-252c1672ad10.jpg"
                                title="经典爆款,低价来袭！大品牌质量保证"></a></div>
                <div class="p-scroll"><a href="javascript:;" class="p-scroll-btn p-scroll-prev">&lt;</a>

                    <div class="p-scroll-wrap">

                    </div>
                    <a href="javascript:;" class="p-scroll-btn p-scroll-next">&gt;</a></div>
                <div class="p-name"><a target="_blank" href="http://item.jd.com/572758.html"
                                       onclick="log(&quot;search&quot;,&quot;list&quot;,window.location.href,9898,5,572758,2,3,1,2,A)"
                                       title="经典爆款,低价来袭！大品牌质量保证">Philips飞利浦 30074 酷捷LED护眼台灯银色<font
                                style="color: #ff0000;" name="572758" class="adwords">经典爆款,低价来袭！大品牌质量保证</font></a></div>
                <div class="p-price"><strong>￥269.00</strong><span id="p572758"></span></div>
                <div class="extra"><span class="evaluate"><a target="_blank"
                                                             href="http://item.jd.com/572758.html#comments-list"
                                                             onclick="log(&quot;search&quot;,&quot;list&quot;,window.location.href,9898,5,572758,3,3,1,2,A)">已有16538人评价</a></span>
                </div>
                <div stock="572758" class="stocklist"><span class="st33">北京有货</span></div>
                <div class="product-follow hide" style="display: none;"><a id="coll572758"
                                                                           class="btn-coll"><s></s>加关注</a></div>
                <div class="shop-name" style="display: none;"></div>
            </div>
        </li>
        <li index="3" sku="572758" selfservice="0" venderid="0" class="">
            <div class="lh-wrap">
                <div class="p-img"><a target="_blank" href="http://item.jd.com/572758.html"
                                      onclick="log(&quot;search&quot;,&quot;list&quot;,window.location.href,9898,5,572758,1,3,1,2,A)"><img
                                width="220" height="220" alt="Philips飞利浦 30074 酷捷LED护眼台灯银色" data-img="1"
                                class="err-product"
                                src="http://img12.360buyimg.com/n7/4889/b3542b90-ffea-4e65-af57-252c1672ad10.jpg"
                                title="经典爆款,低价来袭！大品牌质量保证"></a></div>
                <div class="p-scroll"><a href="javascript:;" class="p-scroll-btn p-scroll-prev">&lt;</a>

                    <div class="p-scroll-wrap">

                    </div>
                    <a href="javascript:;" class="p-scroll-btn p-scroll-next">&gt;</a></div>
                <div class="p-name"><a target="_blank" href="http://item.jd.com/572758.html"
                                       onclick="log(&quot;search&quot;,&quot;list&quot;,window.location.href,9898,5,572758,2,3,1,2,A)"
                                       title="经典爆款,低价来袭！大品牌质量保证">Philips飞利浦 30074 酷捷LED护眼台灯银色<font
                                style="color: #ff0000;" name="572758" class="adwords">经典爆款,低价来袭！大品牌质量保证</font></a></div>
                <div class="p-price"><strong>￥269.00</strong><span id="p572758"></span></div>
                <div class="extra"><span class="evaluate"><a target="_blank"
                                                             href="http://item.jd.com/572758.html#comments-list"
                                                             onclick="log(&quot;search&quot;,&quot;list&quot;,window.location.href,9898,5,572758,3,3,1,2,A)">已有16538人评价</a></span>
                </div>
                <div stock="572758" class="stocklist"><span class="st33">北京有货</span></div>
                <div class="product-follow hide" style="display: none;"><a id="coll572758"
                                                                           class="btn-coll"><s></s>加关注</a></div>
                <div class="shop-name" style="display: none;"></div>
            </div>
        </li>
    </ul>
</div>
<div class="goods-pageBar">
    <div class="page-bar-page">
        <div class="page-wrap page-siblings icon-tag">
            <a trace="srp_bottom_pageup" title="上一页"
               href="http://s.taobao.com/list?spm=a219r.lm893.16.1.MAXz88&amp;q=%C3%D7&amp;cat=50006843&amp;style=grid&amp;seller_type=taobao&amp;tab=all&amp;app=list&amp;s=0"
               class="page-prev icon-disable">
                上一页
            </a></div>
        <div class="page-wrap"><span class="page-cur">1</span></div>
        <div class="page-wrap">
            <div class="bg"></div>
            <a trace="srp_bottom_page2" class="page"
               href="http://s.taobao.com/list?spm=a219r.lm893.16.2.MAXz88&amp;q=%C3%D7&amp;cat=50006843&amp;style=grid&amp;seller_type=taobao&amp;tab=all&amp;app=list&amp;s=0"
               title="第2页" data-spm-anchor-id="a219r.lm893.16.2">2</a></div>
        <span class="page-wrap">...</span>

        <div class="page-wrap page-siblings icon-tag">
            <a trace="srp_bottom_pagedown" title="下一页"
               href="http://s.taobao.com/list?spm=a219r.lm893.16.6.MAXz88&amp;q=%C3%D7&amp;cat=50006843&amp;style=grid&amp;seller_type=taobao&amp;tab=all&amp;app=list&amp;s=0"
               class="page-next ">下一页</a></div>
    </div>
    <div class="page-bar-count"><span>共</span><span class="b">100</span><span>页</span></div>
    <div class="page-bar-form">
        <label>去第</label>
        <input class="page-num" value="2" name="page" type="text">
        <span class="anim">页</span>
        <a class="btn-jump">确定</a>
    </div>
</div>
</body>
</html>