<!DOCTYPE html>
<html>
<% include head.ejs %>
<body>
<script type="text/javascript">
    $(function(){
        topDivInit() ;

    });
</script>
<% include plugin/top-bar.ejs %>
<div id="shop-dialog" class="shop-dialog">
    <div class="shop-dialog-close">
        <a onclick="$('#shop-dialog').hide()">×</a>
    </div>
    <div class="shop-dialog-content">
        <span>
            添加成功
        </span>
    </div>
    <div class="shop-dialog-goPay">
        <a>去结算单结算</a>
    </div>
</div>
<div class="good-div">
    <div class="good-img-div">
        <img src="/images/good1.jpg"/>
    </div>
    <div class="good-content-div">
        <div class="good-titile-div">
            <h1>
                京东自营】浪琴(Longines)手表嘉岚系列时尚情侣表女表L4.209.4.11.6表嘉岚系列时尚情侣表女表L4.209.4.11.6表嘉岚系列时尚情侣表女表L4.209.4.11.6
            </h1>
        </div>
        <div class="good-operation-div">
            <div class="good-button-div">
                <a onclick="addToCar(123)">加入结算单</a>
            </div>
            <div class="good-button-div">
                <a>立刻结算</a>
            </div>
        </div>
    </div>
    <div class="good-misc-div">

    </div>
</div>
</body>
</html>